<h5 class="stock-shipping-method-title">Shipping Method</h5>
<ul class="field radios shipping-methods">
  {{#each shipment in content}}
    {{view 'shipment-rates' content=shipment.shipping_rates}}
  {{/each}}
</ul>

<div class="form-buttons" data-hook="buttons">
  <button {{action 'selectShippingRate'}}>Save</button>
</div>
